{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}test{% endblock title %}
{% block extrastyle %}
 <!-- Include Handsontable CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
{% endblock extrastyle %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <div id="example"></div>
    </section>
    <!-- /.content -->
{% endblock content %}
{% block extra_scripts %}
<!-- Include Handsontable JS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<!-- Page specific script -->
<script>
  const container = document.querySelector('#example');
  const data = [
    { pk: '2019', company: 10, name: 11, sellDate: 12, inStock: 13, qty: 13 },
    { pk: '2020', company: 20, name: 11, sellDate: 14, inStock: 13, qty: 13 },
    { pk: '2021', company: 30, name: 15, sellDate: 12, inStock: 13, qty: 13 },
    ...Array.from({ length: 27 }, () => ({ pk: null }))
  ];
  const hot = new Handsontable(container, {
    height: 450,
    colWidths: [170, 222, 130, 120, 120],
    colHeaders: [
      "Company name",
      "Name",
      "Sell date",
      "In stock",
      "Qty"
    ],
    data: data,
    columns: [
      { data: 'company' },
      { data: 'name' },
      { data: 'sellDate' },
      { data: 'inStock' },
      { data: 'qty' }
    ],
    rowHeaders: true,
    contextMenu: true,
    autoWrapRow: true,
    search: true,
    height: 'auto',
    licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
  });
</script>

{% endblock extra_scripts %}