{% extends 'layouts/base.html' %} {% load static %} {% block title %}Procurement
Order{% endblock title %} {% block extrastyle %}
<link
  rel="stylesheet"
  href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
/>
<style>
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  .company-info,
  .vendor-info,
  .terms-of-shipment,
  .order-items,
  .terms-and-conditions,
  .actions {
    margin-bottom: 2rem;
  }
  .order-details table,
  .order-items table {
    width: 100%;
  }
  .order-details td,
  .order-items td {
    padding: 0.5rem;
  }
  .header,
  .footer {
    text-align: center;
  }
  .company-logo img {
    max-width: 100%;
  }
  .add-item-form .form-row > div {
    padding: 0 5px;
  }
  .actions {
    text-align: right;
  }
  .header-dimple{
    background-color: black;
    color: #fca311;
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 10px;
  }
  .bottom-margin{
    margin-bottom: 5px !important;
  }
  .address-container{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
  }
  .table-left-box{
    background-color:#BBB;
    text-align: right;
  }
  .table-center-box{
    background-color:#BBB;
    text-align: center;
  }

  .terms{
    border: 0;
    /* box-sizing: content-box; */
    color: black;
    font-family: inherit;
    font-size: 16px;
    font-style: inherit;
    font-weight: bold;
    line-height: inherit;
    list-style: none;
    margin-bottom: 5px;
    padding: 0;
    text-decoration: none;
  }
  .contact{
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  @media print {
    .add-item-form, #vendor,#draft-btn,#print-btn, .action-delete {
      display: none;
    }
    .company-logo img {
      background-color: white !important;
    }
    .order-items table {
      width: 100% !important; /* Highlighted */
      table-layout: fixed; /* Highlighted */
    }
    .order-items th, .order-items td {
      font-size: 10px; /* Highlighted */
      padding: 2px !important; /* Highlighted */
      word-wrap: break-word; /* Highlighted */
    }
  }
  .no-background {
    background-color: transparent;
    border: none; 
  }

  .no-background::placeholder {
      color: #999; 
  }
</style>
{% endblock extrastyle %} {% block content %}
<div class="" style="margin:0 50px !important;">
    {% include 'includes/modal.html' %}  
    <header class="header mb-2 pt-1">
    <img src="{% static 'images/FinalLogo.png' %}" alt="Logo" class="d-inline-block align-top company-logo" height="300" style="border-radius: 8px;">
  </header>

  <section class="company-info row mb-4 address-container" >
    <div class="company-details col-md-6" style="max-width: fit-content !important;">
      <!-- <h5 style="color: #fca311;">DIMPLE COLLECTION</h5> -->
      <p class="bottom-margin">E-21, Bypass Rd </p>
    <p class="bottom-margin">Near Anjuman Hotel, Professors Colony, Ghatwasan, </p>
    <p class="bottom-margin">Kamla Nagar, Agra, Uttar Pradesh 282005</p>
    <p class="bottom-margin">Phone: <a href="tel:+917060006904">+91 7060006904</a></p>
    <p class="bottom-margin">Email: <a href="mailto:dimplecollectionretail@gmail.com">dimplecollectionretail@gmail.com</a></p>
    </div>
    <div class="order-details col-md-3" style="max-width: fit-content !important;">
      <table class="table table-bordered table-striped" style="margin-right: 30px; max-width: fit-content;">
          <tbody>
              <tr>
                  <td class="table-left-box">Date</td>
                  <td id="current-date"></td>
              </tr>
              <tr>
                  <td class="table-left-box">PO#</td>
                  <td id="po-number"></td>
              </tr>
              <tr>
                  <td class="table-left-box">Due Date</td>
                  <td><input type="text" id="due-date" class="form-control datepicker no-background" placeholder="Select Due Date"/></td>
              </tr>
          </tbody>
      </table>
  </div>
  
  </section>

  <section class="vendor-info mb-4">
    <h3 style="text-align: center;">VENDOR</h3>
    <hr />
    <p>
        <select name="vendor" id="vendor">
        </select>
    </p>
    <p id="vendor-name"></p>
    <p id="vendor-supplier_name"></p>
    <p id="vendor-address"></p>
  </section>

  <!-- <section class="terms-of-shipment mb-4">
    <h3>TERMS OF SHIPMENT</h3>
    <p>Please send all goods as soon as possible.</p>
  </section> -->

  <section class="order-items mb-4">
    <div  style="overflow-x: scroll;">

      <table class="table table-bordered" id="order-items-table">
        <thead>
        <tr>
          <th colspan="4" class="table-center-box">INDENT NO.</th>
          <th colspan="16" class="table-center-box">TERMS OF SHIPMENT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" id="intent_no" contenteditable="true"></td>
          <td colspan="16" style="color:red;" id="tos" contenteditable="true">Please Send All Good As soon As Possible.</td>
        </tr>
        <tr >
          <th class="table-center-box">ARTICLE NO</th>
          <th class="table-center-box">Remark</th>
          <th class="table-center-box">ITEM</th>
          <th class="table-center-box">COLOR</th>
          <th class="table-center-box">1</th>
          <th class="table-center-box">2</th>
          <th class="table-center-box">3</th>
          <th class="table-center-box">4</th>
          <th class="table-center-box">5</th>
          <th class="table-center-box">6</th>
          <th class="table-center-box">7</th>
          <th class="table-center-box">8</th>
          <th class="table-center-box">9</th>
          <th class="table-center-box">10</th>
          <th class="table-center-box">12</th>
          <th class="table-center-box">14</th>
          <th class="table-center-box">16</th>
          <th class="table-center-box">Quantity</th>
          <th class="table-center-box">Notes</th>
          <th class="table-center-box action-delete">Actions</th>
        </tr>
        <!-- Existing rows will be here -->
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="table-center-box">Total Quantity</td>
          <td class="table-center-box" id="total-1">0</td>
          <td class="table-center-box" id="total-2">0</td>
          <td class="table-center-box" id="total-3">0</td>
          <td class="table-center-box" id="total-4">0</td>
          <td class="table-center-box" id="total-5">0</td>
          <td class="table-center-box" id="total-6">0</td>
          <td class="table-center-box" id="total-7">0</td>
          <td class="table-center-box" id="total-8">0</td>
          <td class="table-center-box" id="total-9">0</td>
          <td class="table-center-box" id="total-10">0</td>
          <td class="table-center-box" id="total-12">0</td>
          <td class="table-center-box" id="total-14">0</td>
          <td class="table-center-box" id="total-16">0</td>
          <td class="table-center-box" id="total-quantity">0</td>
          <td></td>
          <td></td>
          </tr>
      </tfoot>
    </table>
  </div>
    <form class="add-item-form mt-3" id="add-item-form">
      <div class="form-row">
        <div class="col">
          <input
          type="text"
          name="article_number"
          class="form-control"
          placeholder="Article No"
          required
          />
        </div>
        <div class="col">
          <select name="item" id="department" placeholder="Item" class="form-control" required>
          </select>
        </div>
        <div class="col">
          <input
            type="text"
            name="color"
            class="form-control"
            placeholder="Color"
          />
        </div>
        <div class="col">
          <input
            type="text"
            name="colorCode"
            class="form-control"
            placeholder="Color Code"
          />
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </section>

  <section class="terms-and-conditions mb-4" style="margin-top: 100px;">
    <h3 style="text-align: center;">TERMS AND CONDITIONS</h3>
    <hr />
    <p class="terms">
      NO GOODS WILL BE ACCEPTED OUTSIDE THIS INDENT. GOODS RECEIVED AFTER
      DELIVERY DATE WILL NOT BE ACCEPTED (BILLING REQUIRED NEW GSTIN.
      09AATFD5558R1Z8)
    </p>
    <p class="terms">ORDERED GOODS WILL BE ACCEPTED BEFORE DUE DATE</p>
    <p class="terms">(NOTE: PLEASE USE COVER, HANGER & TAGS OF DIMPLE)</p>
    <p class="terms">CONTACTS:</p>
    <ol class="contact" type="1">
      <li>COVER: 9892047595</li>
      <li>HANGER: 9811415370</li>
      <li>TRANSPORT: GANESH (9699057648)</li>
    </ol>
  </section>

  <section class="actions pb-4 m-0">
    {% csrf_token %}
    <button class="btn btn-warning" id="draft-btn">Draft</button>
    <button class="btn btn-success" id="print-btn">Print</button>
  </section>
</div>
{% endblock content %} {% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var currentDate = new Date();
      var options = { year: 'numeric', month: 'long', day: 'numeric' };
      var formattedDate = currentDate.toLocaleDateString('en-US', options);
      document.getElementById('current-date').textContent = formattedDate;
      
  });
</script>
<script>
    var isColorCode = false;
    const intent_no = document.getElementById('intent_no');
    intent_no.contentEditable = "true";
    const tos = document.getElementById('tos');
    tos.contentEditable = "true";

    document.getElementById("print-btn").addEventListener("click", function () {
      window.print();
    });
    function updateQuantity(row) {
        const cells = row.cells;
        let sum = 0;
        for (let i = 4; i <= 16; i++) {
            sum += parseInt(cells[i].textContent.trim()) || 0;
        }
        cells[17].textContent = sum;
        updateTotalQuantity();
    }
    function updateTotalQuantity() {
        const tableBody = document.querySelector("#order-items-table tbody");
        const totalCells = {};
        const sizeColumns = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "12", "14", "16"];
        
        sizeColumns.forEach(size => {
            totalCells[size] = 0;
        });
        
        Array.from(tableBody.rows).forEach((row, rowIndex) => {
            if (rowIndex > 1) {
                sizeColumns.forEach((size, idx) => {
                    const cellIndex = idx + 4; // Size columns start at index 4
                    const value = parseInt(row.cells[cellIndex]?.textContent.trim());
                    console.log(`Value in row ${rowIndex} for size ${size}: ${value}`);
                    if (!isNaN(value)) {
                        totalCells[size] += value;
                    }
                });
            }
        });

        // Update total quantity cells
        sizeColumns.forEach(size => {
            console.log(`Total for ${size}: ${totalCells[size]}`); // Debug statement
            document.getElementById(`total-${size}`).textContent = totalCells[size];
        });

        // Update the total of total quantities
        const totalQuantity = sizeColumns.reduce((sum, size) => sum + totalCells[size], 0);
        console.log(`Total quantity: ${totalQuantity}`); // Debug statement
        document.getElementById('total-quantity').textContent = totalQuantity;
    }

        var brand, firstBrand=null;

    fetch('/department/api/department/list/?department_names=KIDS')
  .then(response => response.json())
  .then(data => {
    const departmentSelect = document.getElementById('department');
    departmentSelect.innerHTML = '';
    data.forEach(department => {
      const option = document.createElement('option');
      option.value = department.id;
      option.textContent = department.department_name;
      departmentSelect.appendChild(option);
    });
  })
  .catch(error => {
    console.error('Error:', error);
    // Handle error as needed
  });


      var brandsData = null;
  fetch('/department/api/brand/list/')
    .then(response => response.json())
    .then(data => {
      brandsData = data;
      const vendorSelect = document.getElementById('vendor');
      vendorSelect.innerHTML = ''; 
      data.forEach(brand => {
        const option = document.createElement('option');
        option.value = brand.id;
        option.textContent = brand.brand_name;
        vendorSelect.appendChild(option);
      });
    })
    .catch(error => {
      console.error('Error:', error);
    });

  document.getElementById('vendor').addEventListener('change', function() {
    const selectedBrandId = this.value;
    const selectedBrand = brandsData.find(brand => brand.id == selectedBrandId);
    const addressElement = document.getElementById('vendor-address');
    addressElement.innerHTML = selectedBrand.address;
    const brandElement = document.getElementById("vendor-name");
    brandElement.innerHTML = selectedBrand.brand_name;
    const supplierElement = document.getElementById('vendor-supplier_name');
    supplierElement.innerHTML = `[${selectedBrand.supplier_name}]`; 
    const intentNumber = document.getElementById('intent_no').textContent.trim();
    const poNumber = `DC/${selectedBrand.brand_code}/${intentNumber}`; <!-- Highlighted: Logic to update PO number -->
    document.getElementById('po-number').textContent = poNumber; 
  });

  document.getElementById('intent_no').addEventListener('input', function() {
    const selectedBrandId = document.getElementById('vendor').value;
    const selectedBrand = brandsData.find(brand => brand.id == selectedBrandId);
    const intentNumber = this.textContent.trim();
    const poNumber = `DC/${selectedBrand.brand_code}/${intentNumber}`;
    document.getElementById('po-number').textContent = poNumber; 
  });


    document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("add-item-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const articleNo = event.target.article_number.value;
        const item = event.target.item.options[event.target.item.selectedIndex].text;
        const itemVal = event.target.item.value;
        var color = event.target.color.value;
        var colorCode = event.target.colorCode.value;

        if(colorCode){
          color = colorCode;
          isColorCode = true;
        }

        const colorValues = color.split(',').map(c => c.trim());

        colorValues.forEach(singleColor => {
            const newRow = document.createElement("tr");

            const articleNoCell = document.createElement("td");
            articleNoCell.textContent = articleNo;
            articleNoCell.contentEditable = "true";
            const remarkNoCell = document.createElement("td");
            remarkNoCell.contentEditable = "true";
            remarkNoCell.textContent = "";
            const itemCell = document.createElement("td");
            itemCell.textContent = item;
            itemCell.setAttribute("data-item-val", itemVal);
            const colorCell = document.createElement("td");
            colorCell.textContent = singleColor;
            colorCell.contentEditable = "true";
            colorCell.setAttribute("data-is-color-code-val", isColorCode);

            newRow.appendChild(articleNoCell);
            newRow.appendChild(remarkNoCell);
            newRow.appendChild(itemCell);
            newRow.appendChild(colorCell);

            for (let i = 0; i < 13; i++) {
                const sizeCell = document.createElement("td");
                sizeCell.contentEditable = "true";
                sizeCell.textContent = "0";
                sizeCell.addEventListener("input", function() {
                    updateQuantity(newRow);
                });
                newRow.appendChild(sizeCell);
            }


            const quantityCell = document.createElement("td");
            quantityCell.textContent = "0";
            newRow.appendChild(quantityCell);

            const noteCell = document.createElement("td");
            noteCell.contentEditable = "true";
            newRow.appendChild(noteCell);

            const actionCell = document.createElement("td");
            const deleteButton = document.createElement("button");
            deleteButton.classList.add("btn", "btn-danger", "action-delete");
            deleteButton.textContent = "Delete";
            deleteButton.addEventListener("click", function() {
                newRow.remove();
                updateTotalQuantity();
            });
            actionCell.appendChild(deleteButton);
            newRow.appendChild(actionCell);

            document.querySelector("#order-items-table tbody").appendChild(newRow);
            updateTotalQuantity();
        });
        event.target.reset();
      });
  });

  document.querySelector("#order-items-table tbody").addEventListener("keydown", function (event) {
    const targetCell = event.target;
    const currentRow = targetCell.parentElement;
    const currentCellIndex = targetCell.cellIndex;
    const tableBody = currentRow.parentElement;
    const currentRowIndex = Array.from(tableBody.rows).indexOf(currentRow);

    let nextCell = null;

    if (event.key === "ArrowRight") {
        event.preventDefault();
        nextCell = currentRow.cells[currentCellIndex + 1] || currentRow.cells[0];
    } else if (event.key === "ArrowLeft") {
        event.preventDefault();
        nextCell = currentRow.cells[currentCellIndex - 1] || currentRow.cells[currentRow.cells.length - 1];
    } else if (event.key === "ArrowDown") {
        event.preventDefault();
        const nextRow = tableBody.rows[currentRowIndex + 1];
        if (nextRow) {
            nextCell = nextRow.cells[currentCellIndex];
        }
    } else if (event.key === "ArrowUp") {
        event.preventDefault();
        const prevRow = tableBody.rows[currentRowIndex - 1];
        if (prevRow) {
            nextCell = prevRow.cells[currentCellIndex];
        }
    }

    if (nextCell) {
        nextCell.focus();
    }
});

document.querySelectorAll("#order-items-table tbody td[contenteditable=true]").forEach(cell => {
    cell.addEventListener("click", function() {
        this.focus();
    });
});



    document.addEventListener("DOMContentLoaded", function() {
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd'
  });
  var today = new Date().toISOString().split('T')[0];
    $('#due-date').val(today);


  document.getElementById("draft-btn").addEventListener("click", function () {
    const dueDate = document.getElementById("due-date").value;
    const vendor = document.getElementById("vendor").value;
    const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
    const tableRows = document.querySelectorAll("#order-items-table tbody tr");
    const items = [];
    const type = "KIDS"
    const poNumber = document.getElementById('po-number').textContent.trim();
    // items.push(dueDate);
    // items.push(vendor);

    tableRows.forEach((row, index) => {
      if (index > 1) {
        const cells = row.cells;
        const quantityAndSize = {};

        // List of sizes to check
        const sizes = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "12", "14", "16"];

        sizes.forEach((size, idx) => {
          const value = parseInt(cells[idx + 4].textContent.trim());
          if (!isNaN(value) && value > 0) {
            quantityAndSize[size] = value;
          }
        });

        // Add the quantity and remark
        quantityAndSize["quantity"] = parseInt(cells[17].textContent.trim());
        const note = cells[18].textContent.trim();
        const remarks = cells[1].textContent.trim();

        const item = {
          article_number: cells[0].textContent.trim(),
          item: cells[2].getAttribute('data-item-val'),
          color: cells[3].textContent.trim(),
          is_color_code: cells[3].getAttribute('data-is-color-code-val'),
          quantity_and_size: quantityAndSize,
          note: note,
          remarks: remarks
        };

        items.push(item);
      }
      console.log(items);
    });

    console.log("Draft items:", items);
        
    fetch('/po/create/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken 
        },
        body: JSON.stringify(
          {
            items: items,
            vendor: vendor,
            intent_no: intent_no.textContent.trim(),
            tos: tos.textContent.trim(),
            type: type,
            due_date: dueDate
          }
        )
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success' ) {
            $('#poModal .modal-title').text("Success!");
            $('#poModal .modal-body').text("Data Saved Successfully!");
            $('#poModal').modal('show');
        } else {
            $('#errorModal .modal-title').text("Error!");
            $('#errorModal .modal-body').text(data.message);
            $('#errorModal').modal('show');
        }
      })
      .catch((error) => {
            $('#errorModal .modal-title').text("Error!");
            $('#errorModal .modal-body').text(error);
            $('#errorModal').modal('show');
        });
      });
    });
    $(document).ready(function() {
      $('#due-date').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
      });
    });
    $("#okbtn2").click(function () {
      window.location.href = '/po/list/'
    }); 
</script>
{% endblock extra_scripts %}
