{% extends 'layouts/base.html' %} {% load static %} {% block title %}Procurement
Order{% endblock title %} {% block extrastyle %}
<link
  rel="stylesheet"
  href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"
/>
<style>
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  .company-info,
  .vendor-info,
  .terms-of-shipment,
  .order-items,
  .terms-and-conditions,
  .actions {
    margin-bottom: 2rem;
  }
  .order-details table,
  .order-items table {
    width: 100%;
  }
  .order-details td,
  .order-items td {
    padding: 0.5rem;
  }
  .header,
  .footer {
    text-align: center;
  }
  .company-logo img {
    max-width: 100%;
  }
  .add-item-form .form-row > div {
    padding: 0 5px;
  }
  .actions {
    text-align: right;
  }
  .header-dimple{
    background-color: black;
    color: #fca311;
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 10px;
  }
  .bottom-margin{
    margin-bottom: 5px !important;
  }
  .address-container{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
  }
  .table-left-box{
    background-color:#BBB;
    text-align: right;
  }
  .table-center-box{
    background-color:#BBB;
    text-align: center;
  }

  .terms{
    border: 0;
    /* box-sizing: content-box; */
    color: black;
    font-family: inherit;
    font-size: 16px;
    font-style: inherit;
    font-weight: bold;
    line-height: inherit;
    list-style: none;
    margin-bottom: 5px;
    padding: 0;
    text-decoration: none;
  }
  .contact{
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  @media print {
    .add-item-form, #vendor,#draft-btn,#print-btn {
      display: none;
    }
  }
</style>
{% endblock extrastyle %} {% block content %}
<div class="" style="margin-left: 50px !important;">
    {% include 'includes/modal.html' %}  
  <header class="header mb-4 header-dimple">
    <h1 class="logo">Dimple Collection <small>(Procurement System)</small></h1>
  </header>

  <section class="company-info row mb-4 address-container" >
    <div class="company-details col-md-6">
      <h5 style="color: #fca311;">DIMPLE COLLECTION</h5>
      <p class="bottom-margin">E-21, Kamla Nagar</p>
      <p class="bottom-margin">Agra, (UP) - 282005</p>
      <p class="bottom-margin">Phone: +91 7060006904</p>
      <p class="bottom-margin">Email: dimplecollectionretail@gmail.com</p>
      <p>
        Website:
        <a href="https://dimplecollection.com">https://dimplecollection.com</a>
      </p>
    </div>
    <div class="order-details col-md-3">
      <table class="table table-bordered table-striped" style="margin-right: 30px; max-width: fit-content;">
          <tbody>
              <tr>
                  <td class="table-left-box">Date</td>
                  <td>8 July 2024</td>
              </tr>
              <tr>
                  <td class="table-left-box">PO#</td>
                  <td>DC/01IFK158/0142</td>
              </tr>
              <tr>
                  <td class="table-left-box">Due Date</td>
                  <td>08 July 2024</td>
              </tr>
          </tbody>
      </table>
  </div>
  
  </section>

  <section class="vendor-info mb-4">
    <h3 style="text-align: center;">VENDOR</h3>
    <hr />
    <p>
        <select name="vendor" id="vendor">
        </select>
    </p>
    <p>[STRIDE]</p>
    <p id="vendor-address"></p>
  </section>

  <!-- <section class="terms-of-shipment mb-4">
    <h3>TERMS OF SHIPMENT</h3>
    <p>Please send all goods as soon as possible.</p>
  </section> -->

  <section class="order-items mb-4" style="margin-top: 120px;">
    <table class="table table-bordered" id="order-items-table">
      <thead>
        <tr>
          <th colspan="4" class="table-center-box">INDENT NO.</th>
          <th colspan="4" class="table-center-box">TERMS OF SHIPMENT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"></td>
          <td colspan="4" style="color:red;">Please send all goods as soon as possible.</td>
        </tr>
        <tr >
          <th class="table-center-box">ARTICLE NO</th>
          <th class="table-center-box">ITEM</th>
          <th class="table-center-box">COLOR</th>
          <th class="table-center-box">28</th>
          <th class="table-center-box">30</th>
          <th class="table-center-box">32</th>
          <th class="table-center-box">34</th>
          <th class="table-center-box">36</th>
          <th class="table-center-box">38</th>
          <th class="table-center-box">39</th>
          <th class="table-center-box">40</th>
          <th class="table-center-box">42</th>
          <th class="table-center-box">44</th>
          <th class="table-center-box">46</th>
          <th class="table-center-box">48</th>
          <th class="table-center-box">50</th>
          <th class="table-center-box">52</th>
          <th class="table-center-box">Quantity</th>
          <th class="table-center-box">Remark</th>
        </tr>
        <!-- Existing rows will be here -->
      </tbody>
    </table>
    <form class="add-item-form mt-3" id="add-item-form">
      <div class="form-row">
        <div class="col">
          <input
            type="text"
            name="article_no"
            class="form-control"
            placeholder="Article No"
            required
          />
        </div>
        <div class="col">
          <input
            type="text"
            name="item"
            class="form-control"
            placeholder="Item"
            required
          />
        </div>
        <div class="col">
          <input
            type="text"
            name="color"
            class="form-control"
            placeholder="Color"
            required
          />
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </section>

  <section class="terms-and-conditions mb-4" style="margin-top: 100px;">
    <h3 style="text-align: center;">TERMS AND CONDITIONS</h3>
    <hr />
    <p class="terms">
      NO GOODS WILL BE ACCEPTED OUTSIDE THIS INDENT. GOODS RECEIVED AFTER
      DELIVERY DATE WILL NOT BE ACCEPTED (BILLING REQUIRED NEW GSTIN.
      09AATFD5558R1Z8)
    </p>
    <p class="terms">ORDERED GOODS WILL BE ACCEPTED BEFORE DUE DATE</p>
    <p class="terms">(NOTE: PLEASE USE COVER, HANGER & TAGS OF DIMPLE)</p>
    <p class="terms">CONTACTS:</p>
    <ol class="contact" type="1">
      <li>COVER: 9892047595</li>
      <li>HANGER: 9811415370</li>
      <li>TRANSPORT: GANESH (9699057648)</li>
    </ol>
  </section>

  <section class="actions mb-4">
    {% csrf_token %}
    <button class="btn btn-warning" id="draft-btn">Draft</button>
    <button class="btn btn-success" id="print-btn">Print</button>
  </section>
</div>
{% endblock content %} {% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>

document.getElementById("print-btn").addEventListener("click", function () {
      window.print();
    });

    function updateQuantity(row) {
      const cells = row.cells;
      let sum = 0;
      for (let i = 3; i <= 16; i++) {
        sum += parseInt(cells[i].textContent.trim()) || 0;
      }
      cells[17].textContent = sum;
    }

    var brand, firstBrand=null;

    fetch('/po/brands/')
      .then(response => response.json())
      .then(data => {
        const vendorSelect = document.getElementById('vendor');
        vendorSelect.innerHTML = ''; // Clear existing options
        brand = data;
        data.forEach(brand => {
          if (!firstBrand) {
            firstBrand = brand;
            const addressElement = document.getElementById('vendor-address');
            addressElement.innerHTML = firstBrand.address;
          }
          const option = document.createElement('option');
          option.value = brand.id;
          option.textContent = brand.brand_name;
          vendorSelect.appendChild(option);
        });

        // Handle vendor change event
        vendorSelect.addEventListener('change', function() {
          const selectedBrandId = this.value;
          const selectedBrand = brand.find(data => data.id == selectedBrandId);
          const addressElement = document.getElementById('vendor-address');
          addressElement.innerHTML = selectedBrand.address;
        });
      })
      .catch(error => {
        console.error('Error:', error);
        // Handle error as needed
      });

    document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("add-item-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        // Get input values
        const articleNo = event.target.article_no.value;
        const item = event.target.item.value;
        const color = event.target.color.value;

        // Create new row
        const newRow = document.createElement("tr");

        // Create cells
        const articleNoCell = document.createElement("td");
        articleNoCell.textContent = articleNo;
        const itemCell = document.createElement("td");
        itemCell.textContent = item;
        const colorCell = document.createElement("td");
        colorCell.textContent = color;

        // Append cells to row
        newRow.appendChild(articleNoCell);
        newRow.appendChild(itemCell);
        newRow.appendChild(colorCell);

        // Create editable cells for sizes
        for (let i = 0; i < 14; i++) {
          const sizeCell = document.createElement("td");
          sizeCell.contentEditable = "true";
          sizeCell.textContent = "0";
          newRow.appendChild(sizeCell);
        }

        // Append quantity and remark cells
        const quantityCell = document.createElement("td");
        quantityCell.contentEditable = "true";
        quantityCell.textContent = "0";
        newRow.appendChild(quantityCell);

        const remarkCell = document.createElement("td");
        remarkCell.contentEditable = "true";
        newRow.appendChild(remarkCell);

        // Append new row to table
        document.querySelector("#order-items-table tbody").appendChild(newRow);

        // Clear form
        event.target.reset();
      });
  });

  document.querySelector("#order-items-table tbody").addEventListener("input", function (event) {
      const targetCell = event.target;
      if (targetCell.parentElement.tagName === "TR" && targetCell.cellIndex >= 3 && targetCell.cellIndex <= 16) {
        updateQuantity(targetCell.parentElement);
      }
    });

    document.getElementById("draft-btn").addEventListener("click", function () {
  const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
  const tableRows = document.querySelectorAll("#order-items-table tbody tr");
  const items = [];

  tableRows.forEach((row, index) => {
    if (index > 1) {
      const cells = row.cells;
      const quantityAndSize = {};

      // List of sizes to check
      const sizes = ["28", "30", "32", "34", "36", "38", "39", "40", "42", "44", "46", "48", "50", "52"];

      sizes.forEach((size, idx) => {
        const value = parseInt(cells[idx + 3].textContent.trim());
        if (!isNaN(value) && value > 0) {
          quantityAndSize[size] = value;
        }
      });

      // Add the quantity and remark
      quantityAndSize["quantity"] = parseInt(cells[17].textContent.trim());
      const remark = cells[18].textContent.trim();

      const item = {
        article_no: cells[0].textContent.trim(),
        item: cells[1].textContent.trim(),
        color: cells[2].textContent.trim(),
        quantity_and_size: quantityAndSize,
        remark: remark
      };

      items.push(item);
    }
    console.log(items);
  });

  // Here you can proceed to use `items` as needed, for example sending it in an AJAX request

      console.log("Draft items:", items);
      
      fetch('/po/create/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken // Function to get CSRF token, add as per your actual implementation
        },
        body: JSON.stringify({ items: items })
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success' ) {
            console.log("!!!!!!!!!!!!!11")
            $('#poModal .modal-title').text("Success!");
            $('#poModal .modal-body').text("Data Saved Successfully!");
            $('#poModal').modal('show');
        } else {
            console.log("@@@@@@@@@@@@@@@")
            $('#errorModal .modal-title').text("Error!");
            $('#errorModal .modal-body').text(data.error);
            $('#errorModal').modal('show');
        }
      })
      .catch((error) => {
            console.log("^^^^^^^^^^^")
            $('#errorModal .modal-title').text("Error!");
            $('#errorModal .modal-body').text(error);
            $('#errorModal').modal('show');
      });
    });

    
</script>
{% endblock extra_scripts %}
