{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Barcode Upload{% endblock title %}
{% block extrastyle %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Batch Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">BatchDetails</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h3 class="card-title">Batch Details</h3>
                    <div>
                      {% if not batch.is_file_uploaded %}
                        <button
                          type="button"
                          data-toggle="modal"
                          data-target="#modal-default"
                          class="btn btn-block btn-primary"
                        >
                        Upload File
                        </button>
                      {% endif %}
                    </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="loader" style="display:flex;height: 400px;" class=" justify-content-center align-items-center" >
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <table id="example1" class="table table-bordered table-striped"  style="display: none;">
                  <thead>
                  <tr>
                    <th>Barcode</th>
                    <th>Article Number</th>
                    <th>Department</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Brand</th>
                    <th>Size</th>
                    <th>Color</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% if barcode_entries %}
                    {% for item in barcode_entries %}
                      <tr class="unread">
                          <td>
                            <h6 class="mb-1">{{ item.barcode }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.pt_entry.product.article_number }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.pt_entry.product.department }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.pt_entry.product.category }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.pt_entry.product.subcategory }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.pt_entry.product.brand.brand_code }}</h6>
                          </td>
                          <td>
                            <h6 class="mb-1">{{ item.pt_entry.size }}</h6>
                          </td>
                          <td>
                            <h6 class="mb-1">{{ item.pt_entry.color }}</h6>
                          </td>
                      </tr>
                    {% endfor %}

                    {% else %}
                      {% for item in batch_details %}
                      <tr class="unread">
                          <td> -
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.product.article_number }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.product.department }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.product.category }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.product.subcategory }}</h6>
                          </td>
                          <td>
                              <h6 class="mb-1">{{ item.product.brand.brand_code }}</h6>
                          </td>
                          <td>
                            <h6 class="mb-1">{{ item.size }}</h6>
                          </td>
                          <td>
                            <h6 class="mb-1">{{ item.color }}</h6>
                          </td>
                      </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload File</h4>
            
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" enctype="multipart/form-data" id="uploadForm" action="{% url 'product:upload_z_file' batch.id %}">
            {% csrf_token %}
            {% include 'includes/modal.html' %}  
            {{ upload_form.file }}
            {% if errors %}
              <div id="errors">
                  {% for error in errors %}
                      <p>{{ error }}</p>
                  {% endfor %}  
              </div>
{% endif %}
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary">Upload File</button>
            </div>
            
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    
    <!-- /.content -->
{% endblock content %}
{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
  $(document).ready(function() {
    $('#uploadForm').on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this);

        showOverlay();
        
        $.ajax({
            url: this.action,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            cache: false,
            headers: {
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function(response) {
                hideOverlay();
                $('#successModal .modal-title').text('Success');
                $('#successModal .modal-body').html('File uploaded successfully!');
                $('#successModal').modal('show');
            },
            error: function(xhr) {
                hideOverlay();
                var html = $('<div />').html(xhr.responseText);
                var errorsHtml = html.find('#errors').html();
                $('#errorModal .modal-title').text('Error');
                $('#errorModal .modal-body').html(errorsHtml);
                $('#errorModal').modal('show');
            }
        });
    });
});
  function showOverlay() {
    // Create overlay elements
    var overlayWrapper = document.createElement('div');
    overlayWrapper.className = 'overlay-wrapper';

    var overlay = document.createElement('div');
    overlay.className = 'overlay dark';
    overlay.innerHTML = '<i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div>';

    // Append overlay elements to the body
    overlayWrapper.appendChild(overlay);
    document.body.appendChild(overlayWrapper);
  }

  function hideOverlay() {
    // Remove overlay elements from the body
    var overlayWrapper = document.querySelector('.overlay-wrapper');
    overlayWrapper.parentNode.removeChild(overlayWrapper);
  }
  $(function () {
    showOverlay();
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "initComplete": function () {
        hideOverlay();
        $('#example1').show();
        $('#loader').hide();
      }
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock extra_scripts %}