{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Product Entry{% endblock title %}

{% block content %}
<div class="contentarea">
  <div class="row">
    <div class="camera">
      <h6>Tag Photo :</h6>
      <div class="output">
      <img id="video" class="scanner-input-video" src="{{ product.tag_image.url }}" alt="Tag Photo">
    </div>
      <div class="output">
        <h6>Product Photo :</h6>
        <img id="photo" src="{{ product.product_image.url }}" alt="Product Photo" />
      </div>
    </div>
    <!-- II -->
    <div class="card card-primary product-details-form">
      <div class="card-header">
        <h3 class="card-title">Product Details</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form>
        <div class="card-body">
          <div class="form-group">
            {% csrf_token %}
            <label for="exampleInputEmail1">Department</label>
            {{form.department}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Category</label>
            {{form.category}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Brand</label>
            {{form.brand}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Color</label>
            {{form.color}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Article Number</label>
            {{form.article_number}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Size</label>
            {{form.size}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">WSP</label>
            {{form.wsp}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">MRP</label>
            {{form.mrp}}
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Image</label>
            {{form.image}}
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit Details</button>
        </div>
      </form>
    </div>

  </div>
  
  <canvas id="canvas"> </canvas>
</div>
<style>
.cam_controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.scanner-input-video{
  width: 100%;
  height: 380px;
  box-shadow: 2px 2px 3px black;
}
#photo {
  box-shadow: 2px 2px 3px black;
  width: 100%;
  height: 450px;
}

#canvas {
  display: none;
}

.take-photo-btn{
  width: 30%;
  margin: 10px 0;

}

.camera {
  width: 40%;
  display: inline-block;
  margin: 0 auto;
}

.output {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.contentarea {
  font-family: "Lucida Grande", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 20px 0;
}

.product-details-form{
  width: 40%;
  margin: 0 auto;
}

</style>
{% endblock content %}
{% block extra_scripts %}
<script>
</script>
{% endblock extra_scripts %}