{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Product Entry{% endblock title %}

{% block content %}
    <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Take {{photo}} Photo</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Take {{photo}} Photo</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
      {% csrf_token %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">Camera</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-center">
                    <video id="video" class="scanner-input-video"></video>
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="cameraDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Camera
                        </button>
                        <div class="dropdown-menu" aria-labelledby="cameraDropdown" id="cameraList"></div>
                    </div>
                </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">Captured Image</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-center">
                    <img id="photo" alt="The screen capture will appear in this box." />
                    <canvas id="canvas" style="display: none;"> </canvas>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <button type="button" class="btn btn-block btn-success take-photo-btn" id="startbutton">Take {{photo}} photo</button>
        <button type="button" class="btn btn-block btn-primary take-photo-btn" id="submitButton">{% if photo == "Cloth" %}
          Next
        {% else %}
          Submit
        {% endif %}</button>
      </div>
{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<!-- Page specific script -->
<script>
  function setCookie(name, value, days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/";
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}

var selectedCameraId = getCookie("selectedCameraId");

  function populateCameraDropdown(devices) {
    const cameraList = document.getElementById("cameraList");
    cameraList.innerHTML = "";
    devices.forEach(device => {
      if (device.kind === 'videoinput') {
        const option = document.createElement("a");
        option.className = "dropdown-item";
        option.textContent = device.label || `Camera ${cameraList.children.length + 1}`;
        option.addEventListener("click", () => {
          selectCamera(device.deviceId);
        });
        cameraList.appendChild(option);
      }
    });
  }

  function selectCamera(deviceId) {
    selectedCameraId = deviceId;
    setCookie("selectedCameraId", selectedCameraId, 30);
    const constraints = {
        video: { deviceId: { exact: deviceId } }
    };
    navigator.mediaDevices.getUserMedia(constraints)
        .then(stream => {
            video.srcObject = stream;
            video.play();
        })
        .catch(err => {
            console.error('Error accessing camera:', err);
        });
  }
  function initialize() {
    if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) {
        console.error('enumerateDevices() not supported.');
        return;
    }
    navigator.mediaDevices.enumerateDevices()
    .then(devices => {
      populateCameraDropdown(devices);
      const videoDevices = devices.filter(device => device.kind === 'videoinput');
      if (videoDevices.length > 0) {
        const defaultCamera = videoDevices.find(device => device.deviceId === selectedCameraId);
        const defaultCameraId = defaultCamera ? defaultCamera.deviceId : videoDevices[0].deviceId;
        selectCamera(defaultCameraId);
      }
    })
    .catch(err => {
            console.error('Error enumerating devices:', err);
        });
  }
  window.addEventListener("load", initialize);
</script>
<script>

function showOverlay() {
    // Create overlay elements
    var overlayWrapper = document.createElement('div');
    overlayWrapper.className = 'overlay-wrapper';

    var overlay = document.createElement('div');
    overlay.className = 'overlay dark';
    overlay.innerHTML = '<i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div>';

    // Append overlay elements to the body
    overlayWrapper.appendChild(overlay);
    document.body.appendChild(overlayWrapper);
  }

function hideOverlay() {
    // Remove overlay elements from the body
    var overlayWrapper = document.querySelector('.overlay-wrapper');
    overlayWrapper.parentNode.removeChild(overlayWrapper);
  }

(() => {
  // The width and height of the captured photo. We will set the
  // width to the value defined here, but the height will be
  // calculated based on the aspect ratio of the input stream.

  const width = 320; // We will scale the photo width to this
  let height = 0; // This will be computed based on the input stream

  // |streaming| indicates whether or not we're currently streaming
  // video from the camera. Obviously, we start at false.

  let streaming = false;

  // The various HTML elements we need to configure or control. These
  // will be set by the startup() function.

  let video = null;
  let canvas = null;
  let photo = null;
  let startbutton = null;

  function showViewLiveResultButton() {
    if (window.self !== window.top) {
      // Ensure that if our document is in a frame, we get the user
      // to first open it in its own tab or window. Otherwise, it
      // won't be able to request permission for camera access.
      document.querySelector(".contentarea").remove();
      const button = document.createElement("button");
      button.textContent = "View live result of the example code above";
      document.body.append(button);
      button.addEventListener("click", () => window.open(location.href));
      return true;
    }
    return false;
  }

  function startup() {
    if (showViewLiveResultButton()) {
      return;
    }
    video = document.getElementById("video");
    canvas = document.getElementById("canvas");
    photo = document.getElementById("photo");
    startbutton = document.getElementById("startbutton");
    submitButton = document.getElementById("submitButton");

    navigator.mediaDevices
      .getUserMedia({ video: true, audio: false })
      .then((stream) => {
        video.srcObject = stream;
        video.play();
      })
      .catch((err) => {
        console.error(`An error occurred: ${err}`);
      });

    video.addEventListener(
      "canplay",
      (ev) => {
        if (!streaming) {
          height = video.videoHeight / (video.videoWidth / width);

          // Firefox currently has a bug where the height can't be read from
          // the video, so we will make assumptions if this happens.

          if (isNaN(height)) {
            height = width / (4 / 3);
          }

          video.setAttribute("width", width);
          video.setAttribute("height", height);
          canvas.setAttribute("width", width);
          canvas.setAttribute("height", height);
          streaming = true;
        }
      },
      false,
    );

    startbutton.addEventListener(
      "click",
      (ev) => {
        takepicture();
        ev.preventDefault();
      },
      false,
    );

    submitButton.addEventListener(
      "click",
      (ev) => {
        uploadImage();
        ev.preventDefault();
      },
      false,
    );
    clearphoto();
  }

  // Fill the photo with an indication that none has been
  // captured.

  function clearphoto() {
    const context = canvas.getContext("2d");
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);

    const data = canvas.toDataURL("image/png");

    photo.setAttribute("src", data);
  }

  // Capture a photo by fetching the current contents of the video
  // and drawing it into a canvas, then converting that to a PNG
  // format data URL. By drawing it on an offscreen canvas and then
  // drawing that to the screen, we can change its size and/or apply
  // other changes before drawing it.


  function takepicture() {
    const context = canvas.getContext("2d");
    if (width && height) {
      canvas.width = width;
      canvas.height = height;
      context.drawImage(video, 0, 0, width, height);

      const data = canvas.toDataURL("image/png");
      console.log("this is take picture data",data);

      photo.setAttribute("src", data);
      console.log("this is take picture data photo",photo);

    } else {
      clearphoto();
    }
  }

  // Upload Image
  function uploadImage() {
        var cstfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        const imageData = canvas.toDataURL("image/png");
        var formData = new FormData();
        formData.append("image", imageData);
        showOverlay();
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var page_number = urlParams.get('page');
        if(page_number==='2'){
          var id = urlParams.get('id');
          fetch(`/product/upload_tag_image/${id}/`, {
              method: 'PATCH',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': cstfToken
              },
              credentials: 'include',
              body: formData,
          })
          .then(response => response.json())
          .then(response_data => {
            hideOverlay();
            console.log(response_data.context);
            if (response_data.status == "success") {
              window.location.href = `/product/entry/?page=1`;
            } else {
              alert("Please try again");
            }
          })
          .catch(error => {
              console.error('Error uploading image:', error);
              alert(error);
          });
        }
        else{
          fetch('/product/upload_product_image/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': cstfToken
              },
              credentials: 'include',
              body: formData,
          })
          .then(response => response.json())
          .then(response_data => {
            hideOverlay();
            console.log(response_data.context);
            if (response_data.status == "success") {
              window.location.href = `/product/entry/?page=2&id=${response_data.context.product_id}`;
            } else {
              alert("Please try again");
            }
          })
          .catch(error => {
              console.error('Error uploading image:', error);
              alert(error);
          });
        }
    }

    function dataURLtoFile(dataURL, fileName) {
      const arr = dataURL.split(',');
      const mime = arr[0].match(/:(.*?);/)[1];
      const bstr = atob(arr[1]);
      let n = bstr.length;
      const u8arr = new Uint8Array(n);
      while (n--) {
          u8arr[n] = bstr.charCodeAt(n);
      }
      return new File([u8arr], fileName, { type: mime });
    }
  // Set up our event listener to run the startup process
  // once loading is complete.
  window.addEventListener("load", startup, false);
})();

</script>
{% endblock extra_scripts %}