{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}PTFile Entry{% endblock title %}
{% block extrastyle %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <!-- Include Handsontable CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
 <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block content %}
    <!-- Main content -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>PT File Entry</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'product:product_list' %}">Home</a></li>
                <li class="breadcrumb-item active">PT File Entry</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <section class="content">
        {% csrf_token %}
        {% include 'includes/modal.html' %}  
        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card" >
                    <div class="card-header">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <h3 class="card-title">Update the Data to Generate PT File</h3>
                            <button id="sumQuantitiesBtn" class="btn btn-block btn-primary" style="width: 120px;">Update Data</button>
                        </div>
                    </div>
                    <div id="loader" style="display:flex; height:400px" class=" justify-content-center align-items-center" style="height: 200px;">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div id="example"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-default" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="image-type">PT Entry</h4>
            
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-footer d-flex flex-column">
              <div id="product_tag_image" style="z-index: 1000;">
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.content -->
{% endblock content %}
{% block extra_scripts %}
<!-- Include Handsontable JS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handsontable@14.1/dist/handsontable.full.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@14.1/dist/handsontable.full.min.css" /> 
<script src="https://handsontable.com/docs/scripts/fixer.js"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
  function showOverlay() {
    // Create overlay elements
    var overlayWrapper = document.createElement('div');
    overlayWrapper.className = 'overlay-wrapper';

    var overlay = document.createElement('div');
    overlay.className = 'overlay dark';
    overlay.innerHTML = '<i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div>';

    // Append overlay elements to the body
    overlayWrapper.appendChild(overlay);
    document.body.appendChild(overlayWrapper);
  }

  function hideOverlay() {
    // Remove overlay elements from the body
    var overlayWrapper = document.querySelector('.overlay-wrapper');
    overlayWrapper.parentNode.removeChild(overlayWrapper);
    $('#loader').hide();
  }
    window.onload = function (){
    const container = document.querySelector('#example');
    var hot; 
    function fetchDataWithCSRFToken(url) {
        try {
            const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

            if (!csrfToken) {
                throw new Error('CSRF token not found.');
            }
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                console.log("*&^%$")
                var ptfile = data.data;
                ptfile = ptfile.map(row => {
                    if(row.product.category == null)
                        row.product.category={category_name:"None", id: 0}
                    if(row.product.subcategory == null)
                        row.product.subcategory={subcategory_name:"None", id: 0}
                    if(row.product.brand == null)
                        row.product.brand={brand_code:"None", id: 0}
                    if(row.size == null)
                        row.size={size_value:"None", id: 0}
                    if(row.color == null)
                        row.color={color_name:"None", id: 0}
                    return row;
                })
                var all_master_data = data.departments;
                var master_categories = data.categories;
                var master_subcategories = data.subcategories;
                var master_sizes = data.sizes;
                var brands = data.brands.map((brand) => ({code: brand.brand_code, id: brand.id}));
                var colors = data.colors.map((color) => ({name: color.color_name, id: color.id}));
                console.log(colors)
                console.log("@#$%^&87")
                hot = new Handsontable(container, {
                    height: 700,
                    contextMenu: {
                        items: {
                          "row_above": {},
                          "row_below": {},
                          "add_row_below": {
                            name: 'Add 5 row below',
                            callback: function(key, selection) {
                                hot.alter('insert_row_below', selection[0].start.row, 5);
                            }
                          },
                          "---------": Handsontable.plugins.ContextMenu.SEPARATOR,
                          "cut": {},
                          "copy": {},
                          "alignment": {},
                          "remove_row": {}
                        }
                    },
                    colWidths: [50, 80, 130, 150, 150, 150, 180, 130, 130, 130, 130, 150, 150 ],
                    colHeaders: true,
                    data: ptfile,
                    columns: [
                        { title: "Id", data: 'id', readOnly: true },
                        { title: "Product ID", data: 'product.id' },
                        { title: "Article Number", data: 'product.article_number' },
                        { 
                            title: "Department",
                            data: 'product.department.department_name',
                            type: 'autocomplete',
                            source: all_master_data.map(department => department.department_name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const matchedDepartment = all_master_data.find(department => department.department_name === value);
                                td.setAttribute('data-department-id', matchedDepartment ? matchedDepartment.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { 
                            title: "Category",
                            data: 'product.category.category_name',
                            type: 'autocomplete',
                            source: master_categories.map(category => category.category_name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const departmentCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                                const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                                let categories = all_master_data.find(item => item.id === parseInt(departmentId));
                                categories = categories ? categories.categories : [];
                                const matchedCategory = categories.find(category => category.category_name === value);
                                td.setAttribute('data-category-id', matchedCategory ? matchedCategory.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { 
                            title: "Sub-Category",
                            data: 'product.subcategory.subcategory_name',
                            type: 'autocomplete',
                            source: master_subcategories.map(subcategory => subcategory.subcategory_name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const departmentCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                                const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                                let categories = all_master_data.find(item => item.id === parseInt(departmentId));
                                let subcategories=[];
                                if(categories){
                                    categories = categories.categories;
                                    const categoryCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-category-id][role="gridcell"][aria-colindex="5"]`);
                                    const categoryId = categoryCell ? categoryCell.getAttribute('data-category-id') : '';
                                    subcategories = categories.find(item => item.id === parseInt(categoryId));
                                    subcategories = subcategories ? subcategories.subcategories : [];
                                }
                                const matchedSubCategory = subcategories.find(subcategory => subcategory.subcategory_name === value);
                                td.setAttribute('data-subcategory-id', matchedSubCategory ? matchedSubCategory.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { 
                            title: "Brand",
                            data: 'product.brand.brand_code',
                            type: 'autocomplete',
                            source: brands.map(brand => brand.code),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const matchedBrand = brands.find(brand => brand.code === value);
                                td.setAttribute('data-brand-id', matchedBrand ? matchedBrand.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { 
                            title: "Size",
                            data: 'size.size_value',
                            type: 'autocomplete',
                            source: master_sizes.map(size => size.size_value),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const departmentCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                                const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                                let sizes = all_master_data.find(item => item.id === parseInt(departmentId));
                                sizes = sizes ? sizes.sizes : [];
                                const matchedCategory = sizes.find(size => size.size_value === value);
                                td.setAttribute('data-size-id', matchedCategory ? matchedCategory.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { title: "Quantity", data: 'quantity' },
                        { 
                            title: "Color",
                            data: 'color.color_name',
                            type: 'autocomplete',
                            source: colors.map(color => color.name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                console.log(value)
                                
                                const matchedColor = colors.find(color => color.name === value);
                                td.setAttribute('data-color-id', matchedColor ? matchedColor.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { title: "MRP", data: 'mrp' },
                        {
                          title: "Product Image",
                          data:'product_images.product_image',
                          renderer: function(instance, td, row, col, prop, value, cellProperties) {
                              td.innerHTML = '<button type="button" data-product-img="' + value + '"  data-toggle="modal" data-target="#modal-default"  class="btn btn-primary m-2 btn-view-product" onclick="viewProduct(this)">View Product</button>';
                              return td;
                          },
                          editor: false
                        },
                        {
                          title: "Tag Image",
                          data:'product_images.tag_image',
                          renderer: function(instance, td, row, col, prop, value, cellProperties) {
                              td.innerHTML = '<button type="button" data-tag-img="' + value + '" data-toggle="modal" data-target="#modal-default" class="btn btn-primary m-2 btn-view-tag" onclick="viewTag(this)">View Tag</button>';
                              return td;
                          },
                          editor: false
                        }, 
                    ],
                    minRows: 100,
                    stretchH: "all",
                    autoWrapRow: true,
                    autoWrapCol: true,
                    fillHandle: true,
                    licenseKey: 'non-commercial-and-evaluation',// for non-commercial use only
                    afterChange: function(changes, source) {
                        if (!changes || (source !== 'edit' && source!== 'Autofill.fill')) return;

                        changes.forEach(([row, prop, oldValue, newValue]) => {
                            console.log("ertyu")
                            if (prop === 'product.department.department_name' && newValue !== oldValue) {
                                populateCategories(row, newValue);
                                populateSizes(row, newValue);
                            }
                            if (prop === 'product.category.category_name' && newValue !== oldValue) {
                                populateSubCategories(row, newValue);
                            }
                        });
                    },

                });
                function populateCategories(row, departmentName) {
                    console.log("RTYJ")
                    const departmentCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                    const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                    let categories = all_master_data.find(item => item.id === parseInt(departmentId));
                    if(!categories){
                        console.log('DepartmentId not found');
                        return;
                    }
                    categories = categories.categories;
                    let columns = hot.getSettings().columns;
                    let categoryColumnIndex = columns.findIndex(col => col.title === "Category");
                    if (categoryColumnIndex !== -1) {
                        columns[categoryColumnIndex].source = categories.map(category => category.category_name);
                        hot.setCellMeta(row, categoryColumnIndex, 'source', categories.map(category => category.category_name));
                        hot.render();
                        if (categories.length > 0) {
                            populateSubCategories(row, categories[0].category_name);
                        }
                    }
                }
                function populateSizes(row, departmentName) {
                    const departmentCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                    const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                    let sizes = all_master_data.find(item => item.id === parseInt(departmentId));
                    if(!sizes){
                        console.error('DepartmentID not found');
                        return;
                    }
                    sizes = sizes.sizes;
                    let columns = hot.getSettings().columns;
                    let sizeColumnIndex = columns.findIndex(col => col.title === "Size");
                    if (sizeColumnIndex !== -1) {
                        columns[sizeColumnIndex].source = sizes.map(size => size.size_value);
                        hot.setCellMeta(row, sizeColumnIndex, 'source', sizes.map(size => size.size_value));
                        hot.render();
                    }
                }
                function populateSubCategories(row, categoryName) {
                    const departmentCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                    const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                    let categories = all_master_data.find(item => item.id === parseInt(departmentId));
                    if(!categories){
                        console.log('DepartmentId not found');
                        return;
                    }
                    categories = categories.categories;
                    const categoryCell = document.querySelector(`tr[aria-rowindex="${row + 2}"] > td[data-category-id][role="gridcell"][aria-colindex="5"]`);
                    const categoryId = categoryCell ? categoryCell.getAttribute('data-category-id') : '';
                    let subcategories = categories.find(item => item.id === parseInt(categoryId));
                    if (!subcategories) {
                        console.log('CategoryId not found');
                        return;
                    }
                    subcategories = subcategories.subcategories
                    let columns = hot.getSettings().columns;
                    let subCategoryColumnIndex = columns.findIndex(col => col.title === "Sub-Category");
                    if (subCategoryColumnIndex !== -1) {
                        columns[subCategoryColumnIndex].source = subcategories.map(subCategory => subCategory.subcategory_name);
                        hot.setCellMeta(row, subCategoryColumnIndex, 'source', subcategories.map(subCategory => subCategory.subcategory_name));
                        hot.render();
                    }
                }
                hot.getData().forEach((rowData, rowIndex) => {
                    let departmentName = rowData[3];
                    if (departmentName && typeof departmentName === 'string' && departmentName.trim() !== '') {
                        populateCategories(rowIndex, departmentName);
                        populateSizes(rowIndex, departmentName);
                    }
                });
                const loaderComp=document.getElementById('loader')
                loaderComp.style.display="none";
                const updateDataButton = document.getElementById('updateDataButton');
                updateDataButton.addEventListener('click', function () {
                    // Get the data from the Handsontable instance
                    const updatedData = hot.getData().reduce((acc, row, index) => {
                      row[12]=null
                      row[13]=null
                      row[14]=null
                        if (row[1] !== null) {
                            const departmentCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                            const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                            row[3] = departmentId;
                            const categoryCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-category-id][role="gridcell"][aria-colindex="5"]`);
                            const categoryId = categoryCell ? categoryCell.getAttribute('data-category-id') : '';
                            row[4] = categoryId; 
                            const subCategoryCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-subcategory-id][role="gridcell"][aria-colindex="6"]`);
                            const subCategoryId = subCategoryCell ? subCategoryCell.getAttribute('data-subcategory-id') : '';
                            row[5] = subCategoryId;
                            const brandCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-brand-id][role="gridcell"][aria-colindex="7"]`);
                            const brandId = brandCell ? brandCell.getAttribute('data-brand-id') : '';
                            row[6] = brandId;
                            const sizeCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-size-id][role="gridcell"][aria-colindex="8"]`);
                            const sizeId = sizeCell ? sizeCell.getAttribute('data-size-id') : '';
                            row[7] = sizeId;
                            const colorCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-color-id][role="gridcell"][aria-colindex="10"]`);
                            const colorId = colorCell ? colorCell.getAttribute('data-color-id') : '';
                            row[9] = colorId;
                            acc.push(row);
                        }
                        return acc;
                    }, []);
                    console.log(updatedData);
                    var final_data = {"data": updatedData, "status": "ENTRY"};
                    fetch('/product/api/ptfile_update/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken,
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(final_data),
                    })
                        .then(response => response.json())
                        .then(data => {
                          if (data.success) {
                                $('#successModal .modal-title').text("Success!");
                                $('#successModal .modal-body').text("Data Updated Successfully!");
                                $('#successModal').modal('show');
                            } else {
                                console.error('Error updating data:', data.error);
                                $('#errorModal .modal-title').text("Error!");
                                $('#errorModal .modal-body').text(data.error);
                                $('#errorModal').modal('show');
                            }
                        })
                        .catch(error => {
                            console.error('Error updating data:', error);
                            $('#errorModal .modal-title').text("Error!");
                                $('#errorModal .modal-body').text(error);
                                $('#errorModal').modal('show');
                        });
                });
            });
        }
        catch (error) {
            console.error('Error:', error);
        }
    }
        $("#okbtn").click(function () {
            $.ajax({
                success: function() {
                    if (hot) {
                hot.updateSettings({
                    contextMenu: {
                        items: {
                        }
                    },
                    readOnly: true,
                });
                console.log("Handsontable readOnly set to true.");
            }
                    window.location.href = '/product/ptfile/batches/  ';
                }
            });
        });
        
    fetchDataWithCSRFToken('/product/api/ptfile_entry/');
    function isHotEditable() {
        if (hot) {
            const settings = hot.getSettings();
            return settings.readOnly === false;
        }
        return false;
    }

    window.onbeforeunload = function(e) {
            if (isHotEditable() && hot && hot.getData().length > 0) {
                var confirmationMessage = 'You have unsaved changes. Are you sure you want to leave?';
                e.returnValue = confirmationMessage;
                return confirmationMessage;
            }
        };
    
    document.getElementById('sumQuantitiesBtn').addEventListener('click', function () {
            // const hot = Handsontable.getInstance(document.querySelector('#example'));
            const data = hot.getData();
            let sumQuantity = 0;
            data.forEach(function (row) {
                const quantity = parseInt(row[8], 10);
                if (!isNaN(quantity)) {
                    sumQuantity += quantity;
                }
            });
            $('#quantityModal .modal-title').text("Check The Quantity");
            $('#quantityModal .modal-body').text("Total Quantity is: " + sumQuantity);
            $('#quantityModal').modal('show');
        });
};
  </script>
  <script>
    function viewProduct(button) {
      var productImgSrc = button.getAttribute('data-product-img');
      var imgElement = document.createElement('img');
      imgElement.classList.add('img-fluid', 'rounded');
      imgElement.setAttribute('height', '100%');
      imgElement.setAttribute('width', '100%');
      imgElement.src = productImgSrc;
      const imageTypeHeading=document.getElementById('image-type') 
      imageTypeHeading.innerHTML = 'Product Image'; 
      var productTagImageDiv = document.getElementById('product_tag_image');
      productTagImageDiv.innerHTML = ''; 
      productTagImageDiv.appendChild(imgElement);
    }
  
    function viewTag(button) {
      var productImgSrc = button.getAttribute('data-tag-img');
      var imgElement = document.createElement('img');
      imgElement.classList.add('img-fluid', 'rounded');
      imgElement.setAttribute('height', '100%');
      imgElement.setAttribute('width', '100%');
      imgElement.src = productImgSrc;
      const imageTypeHeading=document.getElementById('image-type') 
      imageTypeHeading.innerHTML = 'Tag Image'; 
      var productTagImageDiv = document.getElementById('product_tag_image');
      productTagImageDiv.innerHTML = ''; 
      productTagImageDiv.appendChild(imgElement);
    }
  </script>
  

{% endblock extra_scripts %}