{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}test{% endblock title %}
{% block extrastyle %}
 <!-- Include Handsontable CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
{% endblock extrastyle %}
{% block content %}
    <!-- Main content -->
    
    <section class="content">
        {% csrf_token %}
      <div id="example"></div>
    </section>
    <!-- /.content -->
{% endblock content %}
{% block extra_scripts %}
<!-- Include Handsontable JS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<!-- Page specific script -->
<script>
    window.onload = function (){
        console.log("cookie:",document.cookie)
    const container = document.querySelector('#example');
  function fetchDataWithCSRFToken(url) {
    try {
    const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

    if (!csrfToken) {
        throw new Error('CSRF token not found.');
    }
    fetch(url, {
      method: 'GET',
      headers: {
        'X-CSRFToken': csrfToken,
        'Content-Type': 'application/json',
      },
    })
      .then(response => response.json())
      .then(data => {
        // const dataForRendering = data.map(({ id, product, mrp }) => ({ product, mrp }));
        const hot = new Handsontable(container, {
          height: 450,
          colWidths: [50, 130, 150, 150, 150, 150, 130, 130, 130, 130,130],  // Adjust the width of columns as needed
          colHeaders: [
            "Id",
            "Article Number",
            "Department",
            "Category",
            "Sub-Category",
            "Brand",
            "Size",
            "Quantity",
            "Color",
            "MRP",
            "WSP"
          ],
          data: data,
          columns: [
          { data: 'id' },
          { data: 'product.article_number' },
          { data: 'product.department' },
          {data: 'product.category'},
          {data: 'product.subcategory'},
          {data: 'product.brand'},
          {data: 'size'},
          {data: 'quantity'},
          {data: 'color'},
          { data: 'mrp' },
          {data: 'wsp'}
          ],
          rowHeaders: true,
          readOnly: true,
          autoWrapRow: true,
          search: true,
          height: 'auto',
          licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
        });
      });
    }
    catch (error) {
      console.error('Error:', error);
    }
  }

  fetchDataWithCSRFToken('/product/api/ptfile_list/');
};
  </script>

{% endblock extra_scripts %}