{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}PTFile List{% endblock title %}
{% block extrastyle %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <!-- Include Handsontable CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
 <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 {% endblock extrastyle %}
{% block content %}
    <!-- Main content -->
    
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>PT File</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'product:product_list' %}">Home</a></li>
                <li class="breadcrumb-item active">PT File
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <button id="fetchDataButton" data-batch-id="{{ batch_id }}" class="btn btn-primary d-none">Fetch Data</button>

    <section class="content">
        {% csrf_token %}
        {% include 'includes/modal.html' %} 
        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <h3 class="card-title">This is Generated PT File</h3>
                            {% if request.user.user_type != 'FT' %}
                            
                            <div class="row">
                              <div class="col-sm-6">
                                <button id="editDataButton" class="btn btn-block btn-warning" style="width: 120px; display: block;">Edit Data</button>
                                <button id="cancelButton" class="btn btn-block btn-warning" style="width: 120px; display: none; margin-top: 0;">Cancel</button>
                              </div>
                              <div class="col-sm-6">
                                <a href="{% url 'product:export_ptfiles' batch_id %}">
                                  <button type="button" id="exportDataButton" class="btn btn-block btn-primary">Export Data</button>
                                </a>
                                <button id="updateDataButton" class="btn btn-block btn-primary" style="width: 120px; display: none;">Update Data</button>
                                
                              </div>
                            </div>
                            {% endif %}
                          </div>
                          
                        </div>
                        <div>
                            <div id="loader" style="display:flex" class=" justify-content-center align-items-center" style="height: 200px;">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                </div>
                            <div id="example">
                                
                            </div>
                           
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- /.content -->
{% endblock content %}
{% block extra_scripts %}
<!-- Include Handsontable JS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
  const userType = "{{ user_type }}";
</script>
<script>
    function showOverlay() {
        // Create overlay elements
        var overlayWrapper = document.createElement('div');
        overlayWrapper.className = 'overlay-wrapper';
    
        var overlay = document.createElement('div');
        overlay.className = 'overlay dark';
        overlay.innerHTML = '<i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div>';
    
        // Append overlay elements to the body
        overlayWrapper.appendChild(overlay);
        document.body.appendChild(overlayWrapper);
      }
    
      function hideOverlay() {
        // Remove overlay elements from the body
        var overlayWrapper = document.querySelector('.overlay-wrapper');
        overlayWrapper.parentNode.removeChild(overlayWrapper);
        $('#loader').hide();
      }
    window.onload = function (){
    const container = document.querySelector('#example');
    let hot; 
    function fetchDataWithCSRFToken(url) {
        try {
            const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

            if (!csrfToken) {
                throw new Error('CSRF token not found.');
            }
            $('#loader').show();
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                $('.loader').hide();
                const readOnly = userType === 'FT';
                console.log("this is api response",data);
                var ptfile = data.data;
                console.log("data",ptfile)
                ptfile = ptfile.map(row => {
                    if(row.product.category == null)
                        row.product.category={category_name:"None", id: 0}
                    if(row.product.subcategory == null)
                        row.product.subcategory={subcategory_name:"None", id: 0}
                    if(row.product.brand == null)
                        row.product.brand={brand_name:"None", id: 0}
                    return row;
                })
                var departments = data.departments.map((department) => ({name: department.department_name, id: department.id}));
                var categories = data.categories.map((category) => ({name: category.category_name, id: category.id}));
                var subcategories = data.subcategories.map((subcategory) => ({name: subcategory.subcategory_name, id: subcategory.id}));
                var brands = data.brands.map((brand) => ({name: brand.brand_name, id: brand.id}));
                console.log("***")
                console.log(brands)
                hot = new Handsontable(container, {
                    height: 700,
                    contextMenu: {
                        items: {
                          "row_above": {},
                          "row_below": {},
                          "add_row_below": {
                            name: 'Add 5 row below',
                            callback: function(key, selection) {
                                hot.alter('insert_row_below', selection[0].start.row, 5);
                            }
                          },
                          "---------": Handsontable.plugins.ContextMenu.SEPARATOR,
                          "cut": {},
                          "copy": {},
                          "alignment": {},
                          "remove_row": {}
                        }
                    },
                    colWidths: [50, 80, 130, 150, 150, 150, 180, 130, 130, 130, 130, 130, 150, 150 ],
                    colHeaders: true,
                    data: ptfile,
                    columns: [
                        { title: "Id", data: 'id', readOnly: true },
                        { title: "Product ID", data: 'product.id' },
                        { title: "Article Number", data: 'product.article_number' },
                        { 
                            title: "Department",
                            data: 'product.department.department_name',
                            type: 'autocomplete',
                            source: departments.map(department => department.name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const matchedDepartment = departments.find(department => department.name === value);
                                td.setAttribute('data-department-id', matchedDepartment ? matchedDepartment.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { 
                            title: "Category",
                            data: 'product.category.category_name',
                            type: 'autocomplete',
                            source: categories.map(category => category.name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const matchedCategory = categories.find(category => category.name === value);
                                td.setAttribute('data-category-id', matchedCategory ? matchedCategory.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { 
                            title: "Sub-Category",
                            data: 'product.subcategory.subcategory_name',
                            type: 'autocomplete',
                            source: subcategories.map(subcategory => subcategory.name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const matchedSubCategory = subcategories.find(subcategory => subcategory.name === value);
                                td.setAttribute('data-subcategory-id', matchedSubCategory ? matchedSubCategory.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { 
                            title: "Brand",
                            data: 'product.brand.brand_name',
                            type: 'autocomplete',
                            source: brands.map(brand => brand.name),
                            strict: true,
                            renderer: function(instance, td, row, col, prop, value, cellProperties) {
                                const matchedBrand = brands.find(brand => brand.name === value);
                                td.setAttribute('data-brand-id', matchedBrand ? matchedBrand.id : '0');
                                Handsontable.renderers.AutocompleteRenderer.apply(this, arguments);
                            }
                        },
                        { title: "Size", data: 'size' },
                        { title: "Quantity", data: 'quantity' },
                        { title: "Color", data: 'color' },
                        { title: "MRP", data: 'mrp' },
                        { title: "WSP", data: 'wsp' },
                        {
                          data:'product_images.product_image',
                          renderer: function(instance, td, row, col, prop, value, cellProperties) {
                              td.innerHTML = '<button type="button" data-product-img="' + value + '"  data-toggle="modal" data-target="#modal-default"  class="btn btn-primary m-2 btn-view-product" onclick="viewProduct(this)">View Product</button>';
                              return td;
                          },
                          editor: false
                        },
                        {
                          data:'product_images.tag_image',
                          renderer: function(instance, td, row, col, prop, value, cellProperties) {
                              td.innerHTML = '<button type="button" data-tag-img="' + value + '" data-toggle="modal" data-target="#modal-default" class="btn btn-primary m-2 btn-view-tag" onclick="viewTag(this)">View Tag</button>';
                              return td;
                          },
                          editor: false
                        }, 
                    ],
                    minRows: 100,
                    readOnly: true,
                    autoWrapRow: true,
                    autoWrapCol: true,
                    licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
                }); 
                const loaderComp=document.getElementById('loader')
                loaderComp.style.display="none";
                const updateDataButton = document.getElementById('updateDataButton');
                updateDataButton.addEventListener('click', function () {
                    // Get the data from the Handsontable instance
                    const updatedData = hot.getData().reduce((acc, row, index) => {
                        if (row[1] !== null) {
                            const departmentCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-department-id][role="gridcell"][aria-colindex="4"]`);
                            const departmentId = departmentCell ? departmentCell.getAttribute('data-department-id') : '';
                            row[3] = departmentId;
                            const categoryCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-category-id][role="gridcell"][aria-colindex="5"]`);
                            const categoryId = categoryCell ? categoryCell.getAttribute('data-category-id') : '';
                            row[4] = categoryId; 
                            const subCategoryCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-subcategory-id][role="gridcell"][aria-colindex="6"]`);
                            const subCategoryId = subCategoryCell ? subCategoryCell.getAttribute('data-subcategory-id') : '';
                            row[5] = subCategoryId;
                            const brandCell = document.querySelector(`tr[aria-rowindex="${index + 2}"] > td[data-brand-id][role="gridcell"][aria-colindex="7"]`);
                            const brandId = brandCell ? brandCell.getAttribute('data-brand-id') : '';
                            row[6] = brandId;
                            acc.push(row);
                        }
                        return acc;
                    }, []);
                    console.log({"data": updatedData, "status": "PENDING"});
                    var final_data = {"data": updatedData, "status": "PENDING"};
                    // Make a POST request to the PTFileEntryUpdateAPIView
                    fetch('/product/api/ptfile_update/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken,
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(final_data),
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                $('#successModal .modal-body').text("Data Updated Successfully!");
                                $('#successModal .modal-title').text("Success!");
                                $('#successModal').modal('show');
                            } else {
                                console.error('Error updating data:', data.error);
                                $('#successModal .modal-body').text(data.error);
                                $('#successModal .modal-title').text("Error!");
                                $('#successModal').modal('show');
                            }
                        })
                        .catch(error => {
                            console.error('Error updating data:', error);
                        });
                });
            });
        }
        catch (error) {
            console.error('Error:', error);
        }
    }
    
    const editDataButton = document.getElementById("editDataButton");
    const cancelButton = document.getElementById("cancelButton");
    const updateDataButton = document.getElementById("updateDataButton");
    const exportDataButton = document.getElementById("exportDataButton");

    if (editDataButton && cancelButton) {
        editDataButton.addEventListener("click", function() {
            if (hot) {
                hot.updateSettings({
                    readOnly: false,
                });
                console.log("Handsontable readOnly set to false.");
            }
            // Hide edit button, show cancel button
            editDataButton.style.display = 'none';
            cancelButton.style.display = 'block';
            updateDataButton.style.display = 'block';
            exportDataButton.style.display = 'none';
            
        });

        cancelButton.addEventListener("click", function() {
            if (hot) {
                hot.updateSettings({
                    readOnly: true,
                });
                console.log("Handsontable readOnly set to true.");
            }
            // Hide cancel button, show edit button
            cancelButton.style.display = 'none';
            updateDataButton.style.display = 'none';
            editDataButton.style.display = 'block';
            exportDataButton.style.display = 'block';
        });
        
    }
    const fetchDataButton = document.getElementById('fetchDataButton');
    const batchId = fetchDataButton.getAttribute('data-batch-id');
    $("#okbtn").click(function () {
            $.ajax({
                success: function() {
                    window.location.href = '/product/barcode/list/';
                }
            });
        });
    fetchDataWithCSRFToken(`/product/api/ptfile_list/${batchId}`);

};
</script>
<script>
    function viewProduct(button) {
      var productImgSrc = button.getAttribute('data-product-img');
      var imgElement = document.createElement('img');
      imgElement.classList.add('img-fluid', 'rounded');
      imgElement.setAttribute('height', '100%');
      imgElement.setAttribute('width', '100%');
      imgElement.src = productImgSrc;
      const imageTypeHeading=document.getElementById('image-type') 
      imageTypeHeading.innerHTML = 'Product Image'; 
      var productTagImageDiv = document.getElementById('product_tag_image');
      productTagImageDiv.innerHTML = ''; 
      productTagImageDiv.appendChild(imgElement);
    }
  
    function viewTag(button) {
      var productImgSrc = button.getAttribute('data-tag-img');
      var imgElement = document.createElement('img');
      imgElement.classList.add('img-fluid', 'rounded');
      imgElement.setAttribute('height', '100%');
      imgElement.setAttribute('width', '100%');
      imgElement.src = productImgSrc;
      const imageTypeHeading=document.getElementById('image-type') 
      imageTypeHeading.innerHTML = 'Tag Image'; 
      var productTagImageDiv = document.getElementById('product_tag_image');
      productTagImageDiv.innerHTML = ''; 
      productTagImageDiv.appendChild(imgElement);
    }
</script>

{% endblock extra_scripts %}